.copy-btn {
  background-color: #1d4ed8;   /* blue-700 */
  color: white;
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.copy-btn:hover {
  background-color: rgb(0, 133, 242);
  color: #ffffff;              /* blue-700 text */
  border: 2px solid #1d4ed8;   /* add border when transparent */
}